/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 25px;
  --color-primary: rgb(13, 39, 185);
  --color-text: #000;
  --bg-gradient: linear-gradient(to right, #999, #777);
  --bg-primary: #333;
  --bg-secondary: #999;
}

body {
  height: 100vh;
  color: var(--color-text);
}

/* custom theme*/
.light {
  --color-primary: dodgerblue;
}

.night {
  --color-primary: darkslategray;
  --color-primary: rgb(13, 39, 185);
  --color-text: rgb(185, 184, 184);
  --bg-gradient: linear-gradient(to right, rgb(5, 10, 71), rgb(3, 8, 61));
  --bg-primary: #333;
  --bg-secondary: rgb(5, 10, 71);
}

a {
  text-decoration: none;
}

.section-a {
  padding: 2rem;
  height: 40%;
  font-size: 1rem;
  font-weight: bold;
  background: var(--bg-gradient);
  /* transition: color 1000ms ease-out, background 1000ms ease-out; */
  transition: color 1000ms ease-in-out 100ms;
}

.section-b {
  padding: 2rem;
  height: 40%;
  font-size: 1rem;
  font-weight: bold;
  background: var(--bg-secondary);
  transition: color 1000ms ease-in-out 100ms, background 1000ms ease-out;
}

/* >header */
header {
  display: flex;
  align-items: center;
  padding: 0 1.5rem;

  color: var(--color-text);
  background: var(--bg-gradient);
}

.navbar {
  display: flex;
  margin-left: auto;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav-list > li > a {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  color: var(--color-text);
}

#logo {
  cursor: pointer;
}
